//- section
//- 	-for(var i =0; i < 5;i++)
//- 		h1 Cau hoi #{i + 1}
//- 		ul
//- 			li
//- 				input(type="radio" data-istrue="true" id=`${i}` name=`${i}`) 
//- 				span qưe
//- 			li
//- 				input(type="radio" id=`${i}` name=`${i}`)
//- 				span qưe
//- 			li
//- 				input(type="radio" id=`${i}` name=`${i}`)
//- 				span qưe
//- 			li
//- 				input(type="radio" id=`${i}` name=`${i}`)
//- 				span qưe
//- 	button.btn Submit
//- .web4g
//- 	img(src="./assets/img/Group 4900.png", class="object-cover" alt="LI PI GROUP")
//- .web4g-slide
//- 	.swiper-container
//- 		.swiper-wrapper
//- 			.swiper-slide
//- 				img.ofcv(src="./assets/img/Home Page Pi Group – 3.jpg", alt="")
//- 			.swiper-slide
//- 				img.ofcv(src="./assets/img/Home Page Pi Group – 5.jpg", alt="")
//- 			.swiper-slide
//- 				img.ofcv(src="./assets/img/Home Page Pi Group – 6.jpg", alt="")
.web4g-2
	img(src="./assets/img/HOME PAGE.jpg", class="object-cover" alt="LI PI GROUP")
